<div class="man-bench"></div>
<div class="logo"></div>
<div class="bird"></div>
<div class="subway"></div>
<div class="logo2"></div>

<div class="computer"></div>
<div class="logo3"></div>

<div class="bottom">
  <div class="services bg-primary">
    <div class="container">
      <div class="row text-center container services bg-primary">
        <div class="col-lg-10 col-lg-offset-1">
          <h2>steve sartino</h2>
          <h4>{ web developer }</h4>
          <hr class="small">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="service-item">
                <a href="http://sartino.altervista.org/SteveSartinoCV.pdf" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/architectDesk-small.jpg"></a>
                </span>
                <h4><strong>Resume</strong></h4>
                <p>Need a developer?</p>
                <a href="http://sartino.altervista.org/SteveSartinoCV.pdf" target="_blank" class="btn btn-light">View PDF</a>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="service-item">
                <a href="https://www.flickr.com/photos/stolly/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/baby-small.jpg"></a>
                </span>
                <h4>
                                    <strong>Family Photos</strong>
                                </h4>
                <p>Some photos of me & my family</p>
                <a href="https://www.flickr.com/photos/stolly/" target="_blank" class="btn btn-light">View</a>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="service-item">
                <img class="img-portfolio img-responsive" src="../img/airport-small.jpg">
                </span>
                <h4>
                                    <strong>My Blog</strong>
                                </h4>
                <p>My personal blog</p>
                <a href="#" class="btn btn-light">Coming Soon</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'views/footer.html'" class="address"></div>