<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Steve Sartino</strong>
                    </h4>
                <p>Forest Park • Birmingham, AL</p>
                <ul class="list-unstyled">
                    <!--<li><i class="fa fa-phone fa-fw"></i> (205) 563-9391</li>-->
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:stevesartino@yahoo.com">stevesartino@yahoo.com</a>
                        <li><i class="fa fa-linkedin fa-fw"></i> <a href="https://www.linkedin.com/in/sartino" target="_blank">https://www.linkedin.com/in/sartino</a>
                            <li><i class="fa fa-github fa-fw"></i> <a href="https://github.com/sartino" target="_blank">https://github.com/sartino</a>
                            </li>
                </ul>
                <br>
                <!--<ul class="list-inline">
                    <li>
                        <a href="mailto:stevesartino@yahoo.com"><i class="fa fa-envelope fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/sartino" target="_blank"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                    </li>

                    <li>
                        <a href="https://github.com/sartino" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">-->
                <!--<p class="text-muted">Copyright &copy; Steve Sartino 2015</p>-->
            </div>
        </div>
    </div>